@charset "UTF-8";

.section
{
	opacity: 0.7;
}

.section p
{
	font-size: 10px;
	position: absolute;
	
	font-family: sans-serif;
	font-weight: 100;
	line-height: 1;
	
	display: block;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);
	
	color: #fff;	
}


/*REMOVE*/

.thunder
{
	width: 100%;
	height: 100%;

	position: absolute;

	left: 0; top: 0;

	background: #fff;
}

.tween-thunder
{
	animation: tweenThunderFrames 8000ms linear infinite;
}

@keyframes tweenThunderFrames
{
	0%		{opacity: 0;}
	96%		{opacity: 0;}
	97%		{opacity: 1;}
	98%		{opacity: 0;}
	99%		{opacity: 1;}
	100%	{opacity: 0;}
}

.ha-intro
{
	width: 100%;
	height: 100%;

	position: absolute;
}

.ha-intro h1
{
	width: 80%;
	font-size: 0.8em;
	text-align: center;

	margin: 0 auto;
}

.ha-intro p
{
	width: 40%;
	max-width: 700px;
	font-size: 0.1em;
	line-height: 1.3;
	text-align: center;

	margin: 0 auto;
}

.ha-intro-inner
{
	width: inherit;
	height: inherit;

	position: relative;

	background: var(--offWhite);

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 0;
}

.ha-intro-top
{
	position: relative;
	grid-row: 1;

	/*background: black;*/
}

.ha-intro-btm
{
	position: relative;
	grid-row: 2;

	/*background: white;*/
}

.interactive
{
	cursor: pointer;
}

.ha-intro-btn
{
	width: 200px;
	height: 40px;

	background: #ff0033;

	position: absolute;

	left: 50%; top: 50%;
	transform: translate(-50%, -50%);
}

.ha-intro-btn-default
{
	opacity: 0;
}

.tween-ha-intro-btn
{
	transition: 300ms linear;
}

.mute
{
	width: 44px;
	height: 44px;

	display: block;

	background: #ff0033;

	position: absolute;

	left: 20px; top: 20px;

	border-radius: 50%;
}
