@charset "UTF-8";

@import url(level.css);
@import url(gfx.css);
@import url(player.css);

:root
{
	--player-w: 55px;
	--player-h: 125px;
	--playerWalkSpeed: 200ms;
	--playerMoveSpeed: 1600ms;

	--camSpeed: 800ms;
	--camDelay: 800ms;

	--level-w: 5500px;
	--level-h: 3000px;

	--ui-frame-offset: 20px;
	--ui-offset: 120px;

	--dayglo: #FE4A49;
	--offWhite: #F5FFF5;
	--constBlack: #082225;
}

html, body
{
	width: 100%;
	height: 100%;

	background: #000;

	font-family: 'Rubik', sans-serif;
	font-size: 150px;
	color: var(--dayglo);
}

*
{
	user-select: none;
	-webkit-touch-callout: none;
	touch-callout: none;
}

.tween
{
	backface-visibility: hidden;
}

.center-translate
{
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);
}

.text-bold
{
	font-weight: 700;
}

.ha-display
{
	width: 100%;
	height: 100%;

	position: absolute;
}

.ha-display-inner
{
	width: inherit;
	height: inherit;

	/*overflow: hidden;*/
	position: relative;
}

.camera
{
	width: 100vw;
	height: 100vh;

	position: absolute;

	overflow: hidden;

	outline: 1px solid pink;
}

.viewer
{
	width: var(--level-w);
	height: var(--level-h);
	position: absolute;
}

.tween-viewer
{
	transition: transform var(--camSpeed) ease-in-out var(--camDelay);
}

.viewer-bg, .viewer-fg
{
	width: 100vw;
	height: 100vh;
	position: absolute;
	overflow: hidden;
}

.ha-lib
{
	width: 0;
	height: 0;
	visibility: hidden;
	position: absolute;
}

.ui
{
	width: 100%;
	height: 100%;
	
	position: absolute;
	
	left: 0; top: 0;
}

.ui ul
{
	/* 	OFF SET BORDER TO WIDTH AND HEIGHT */
	width: calc(100% - var(--ui-frame-offset));
	height: calc(100% - var(--ui-frame-offset));
	
	position: absolute;
	left: 50%; top: 50%;
	
	transform: translate(-50%, -50%);
}

.ui-u
{
	left: 50%; top:0;
	transform: translate(-50%, 0);
}

.ui-d
{
	left: 50%; bottom: 0;
	transform: translate(-50%, 0);
}

.ui-l
{
	left: 0; top: 50%;
	transform: translate(0, -50%);
}

.ui-r
{
	right: 0; top: 50%;
	transform: translate(0, -50%);
}

.ui-default
{
	opacity: 0;
	cursor: default !important;
}

.ui li
{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	
	position: absolute;
	
	background: var(--constBlack);
	
	user-select: none;
	-webkit-touch-callout: none;
	touch-callout: none;
	
	cursor: pointer;

	transition: 200ms ease-in-out;

	transform-origin: 50% 50%;
}

.ui li:hover
{
	background: var(--dayglo);
}

.ui-touch
{
	background: var(--dayglo);
}

.ui li div
{
	width: 30%;
	height: 30%;
	border-radius: 50%;
	
	position: absolute;
	
	background: var(--offWhite);
	
	pointer-events: none;
}

.ui-hint
{
	width: inherit;
	height: inherit;

	position: absolute;

	left: 0; top: 0;
}

.ui-hint ul
{
	/* 	OFF SET BORDER TO WIDTH AND HEIGHT */
	width: calc(100% - var(--ui-offset));
	height: calc(100% - var(--ui-offset));

	position: absolute;
}

.ui-arrow
{
	width: 30px;
	height: 30px;

	position: absolute;
	pointer-events: none;

	transform-origin: 50% 50%;
}

.ui-arrow > div
{
	width: inherit;
	height: inherit;

	position: absolute;
	pointer-events: inherit;
}

.ui-hint .ui-u
{
	left: 50%; top:0;
	transform: translate(-50%, 0) rotate(270deg);
}

.ui-hint .ui-d
{
	left: 50%; bottom: 0;
	transform: translate(-50%, 0) rotate(90deg);
}

.ui-hint .ui-l
{
	left: 0; top: 50%;
	transform: translate(0, -50%) rotate(180deg);
}

.ui-hint .ui-r
{
	right: 0; top: 50%;
	transform: translate(0, -50%) rotate(0deg);
}

.tween-ui-hint
{
	/*animation: uiArrowFrames 400ms steps(4) 10;*/
}

@keyframes uiArrowFrames
{
	0%		{transform: translateX(0);}
	40%		{transform: translateX(-50%);}
	80%  	{transform: translateX(0);}
	100%	{transform: translateX(0);}
}

.over-fx, .fx-ambience
{
	width: 100%;
	height: 100%;

	position: absolute;
	left: 0; top: 0;

	overflow: hidden;
}

.fx-edge
{
	width: 200%;
	height: 200%;
	left: -50%; top: -50%;
	position: absolute;
}

.woods-fx-edge
{
	background: radial-gradient(ellipse at center, rgba(8, 34, 37, 0) 0%, rgba(8, 34, 37, 1) 100%);
}

.fader-wrapper
{
	width: 100%;
	height: 100%;

	position: absolute;

	left: 0; right: 0; top: 0; bottom: 0;
	margin: auto;

	overflow: hidden;
}

.fader-off
{
	visibility: hidden;
}

.fader
{
	width: inherit;
	height: inherit;

	position: absolute;

	background: var(--constBlack);
}

.fader-default
{
	opacity: 0;
}

.tween-fader
{
	transition: opacity 400ms linear;
}

/* !!! RESPONSIVE !!! */

/* MOBILE */
@media only screen and (min-width: 300px)
{

}

/* PHABLET */
@media only screen and (min-width: 600px)
{
	
}

/* TABLET */
@media only screen and (min-width: 900px)
{

}

/* DESKTOP */
@media only screen and (min-width: 1200px)
{

}